{% extends "base.html" %}
{% block body %}

<div class="head">
  <h1>Allow Incoming SSH Connections</h1>
</div>
  <div class="remote">
 <form action="{{url_for('ssh')}}" method="post">
        <table>
	   <tbody>
	<tr>
		<th><input type="submit" value="PRINT ALLOWING IP's" /></th>
		<th><input type="text" name="enable" placeholder="IP_ADDRESS"/></th>
		<th><input type="submit" value="Add IP" /></th>
        	<th><input type="text" name="disable" placeholder="IP_ADDRESS"/></th>
        	<th><input type="submit" value="Remove IP" /></th>
	</tr>
    </form>






 {% with messages = get_flashed_messages() %}
        {% if messages %}
            Results:
            <div>
                {% for message in messages %}
		<table class="msgtable"><th>{{ message }}</th></table>
                {% endfor %}


            </div></div><div class="shoulder">
        {% endif %}
    {% endwith %}
{% endblock %}
{% block nav %}

<li><a href="{{url_for('index')}}">MAIN</a></li>


{% endblock %}


	
