{% extends "base.html" %}
{% block body %}

<div class="head">
  <h1>Blocking UNIT</h1>
</div>
  <div class="remote">
 <form action="{{url_for('block')}}" method="post">
        <table>
	   <tbody>
	<tr>
		<th><input type="submit" value="Print BlackList" /></th>
		<th><input type="text" name="enable" placeholder="IP_ADDRESS"/></th>
		<th><input type="submit" value="Add To BlackList" /></th>
        	<th><input type="text" name="disable" placeholder="IP_ADDRESS"/></th>
        	<th><input type="submit" value="Remove From BlackList" /></th>
	</tr>
    </form>








    {% with messages = get_flashed_messages() %}
        {% if messages %}
            Results:
            <div>
                {% for message in messages %}
		<table class="msgtable"><th class="msgform">{{ message }}</th></table>
                {% endfor %}
            </div></div><div class="shoulder">
        {% endif %}
    {% endwith %}
{% endblock %}
{% block nav %}

<li><a href="{{url_for('remote')}}">WhiteList Unit</a></li>
<li><a href="{{url_for('index')}}">MAIN</a></li>


{% endblock %}

	
